{% extends "layout.html" %}
{% block content %}
<div class="container px-4 py-5">
    <div class="content-section rounded-6 shadow">
        <div class="row no-gutters">
            <div class="col-lg-6">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="mb-4">
                            <h3 class="h4 font-weight-bold text-info">Login</h3>
                        </legend>
                        <h6 class="h5 mb-0">Welcome back!</h6>
                        <p class="text-muted mt-2 mb-5">Enter your email address and password to access admin panel.</p>
                        <div class="form-group mb-4">
                            {{ form.email.label(class="form-control-label") }}
                            {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="form-control form-control-lg", placeholder="Email") }}
                            {% endif %}
                        </div>
                        <div class="form-group mb-4">
                            {{ form.password.label(class="form-control-label") }}
                            {% if form.password.errors %}
                                {{ form.password(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.password(class="form-control form-control-lg", placeholder="Password") }}
                            {% endif %}
                        </div>
                        <div class="form-check mb-4">
                            {{ form.remember(class="form-check-input") }}
                            {{ form.remember.label(class="form-check-label") }}
                        </div>
                    </fieldset>
                    <div class="form-group mb-2">
                        {{ form.submit(class="btn btn-outline-info") }}
                        <small class="text-muted ml-2">
                            <a href="{{ url_for('users.reset_request') }}">Forgot Password?</a>
                        </small>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 d-none d-lg-inline-block">
                <div class="account-block rounded-right">
                    <div class="overlay rounded-right"></div>
                    <div class="account-testimonial">
                        <h4 class="text-white mb-4">This  beautiful theme yours!</h4>
                        <p class="lead text-white">"Best investment i made for a long time. Can only recommend it for other users."</p>
                        <p>- Admin User</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Need An Account? <a class="ml-2" href="{{ url_for('users.register') }}">Sign Up Now</a>
        </small>
    </div>
</div>
{% endblock content %}
